<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style></style>
  </head>
  <body>
    <h1>게시물 전체 불러오기, 게시물 작성 (상단 조그맣게) -> 모달 창</h1>

    <!-- 게시물작성페이지로 이동 버튼 -->
    <button onclick="location.href='/room/board/register'">게시물작성</button>
    <ul>
      <% for(let i = 0; i < data.length; i++){ %>
      <li>
        <!-- 댓글들 -->
        <b><%= data[i] %></b>
        <button onclick="toggleText(<%= i %>)">댓글</button>
        <ul id="commentList<%= i %>"></ul>
        <!-- 댓글들과 댓글 입력창 -->
        <div id="text<%= i %>" style="display: none">
          <input type="text" id="textInput" placeholder="댓글 입력" />
          <button onclick="addText(<%= i %>)">댓글 추가</button>
        </div>
      </li>
      <% } %>
    </ul>
  </body>

  <script>
    //댓글버튼 클릭시 댓글 목록과 댓글 입력창 나타내기
    function register() {
      window.location.href = '/room/board/register'
    }
    function toggleText(index) {
      const replyText = document.getElementById(`text${index}`)
      if (
        replyText.style.display === 'none' ||
        replyText.style.display === ''
      ) {
        replyText.style.display = 'block'
      } else {
        replyText.style.display = 'none'
      }
    }
  </script>
</html>
